<div>
<p>Scan here on your mobile</p>
<p>To purchase this product on our app to avail exclusive app-only</p>
<p><a href="{{field_app_purchase_link}}">{{qr_code_block|raw}}</a></p>
<p>{{ random_number }}</p>
</div>
